.main-header {
    display: flex;
    position: sticky;
    top: 0px;
    right: 0px;
    align-items: center;
    justify-content: space-between;
    background-color: #000000; 
    padding: 0.5rem 1rem;
    color: white;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }